@import '../../shared/palette.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services {
    max-width: 1320px;
    height: 597px;
    margin: 0 auto;
    padding: 96px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services-heading-sub-div {
    width: 671px;
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services-icons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.services-button {
    width: 188px;
    height: 72px;
    background-color: $light-blue;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.work {
    max-width: 1320px;
    height: 1326px;
    margin: 0 auto;
    padding: 98px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.work-heading-sub-div {
    width: 671px;
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.work-items {
    display: flex;
    flex-direction: column;
}

.work-items-top {
    display: flex;
}

.work-top-left {
    width: 638px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.top-left-content {
    width: 522px;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.divider {
    width: 66%;
    height: 1px;
    background-color: $light-blue;
}

.btn-read-more {
    width: 166px;
    height: 72px;
    color: $solid-white;
    background-color: $light-blue;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.grid-image {
    width: 100%;
    height: auto;
}

.work-items-bottom {
    display: flex;
}

.work-bottom-right {
    width: 638px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.bottom-right-content {
    width: 522px;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.divider-work-agency {
    width: 330px;
    height: 2px;
    margin: 64px auto 64px auto;
    background-color: $light-blue;
}

@media (max-width: 1170px) {
    .services {
        min-height: 1478px;
    }
    .services-heading-sub-div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services-icons-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services-button {
        width: 188px;
        height: 72px;
        background-color: $light-blue;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    .work {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .work-heading-sub-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .work-items {
        display: flex;
        flex-direction: column;
    }

    .work-items-top {
        display: flex;
        flex-direction: column;
    }

    .work-top-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-left-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divider {
        width: 100%;
        height: 1px;
        background-color: $light-blue;
    }
    .btn-read-more {
        width: 166px;
        height: 72px;
        color: $solid-white;
        background-color: $light-blue;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    
    .grid-image {
        width: 100%;
        height: auto;
    }
    .work-items-bottom {
        display: flex;
        flex-direction: column;
    }
    .work-bottom-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}