$solid-white: #FFFFFF;
$light-gray: #EDEDED;
$dark-gray: #646464;
$black: #000000;
$dark-blue:#1C73A8;
$light-blue: #00BAFF;
$aqua-green: #0AE2C1;
$sunset-blue: linear-gradient(180deg, rgba(253, 192, 183, 0.8) 0%,
            rgba(210, 204, 255, 0.8) 48.75%, rgba(107, 180, 253, 0.8) 100%);
$aqua-green-blue: linear-gradient(180deg, rgba(10, 226, 193, 0.8) 0%,
            rgba(0, 186, 255, 0.8) 100%);