.header-wrapper {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    padding: 0 20px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    flex-shrink: 0; 
}

.nav {
    height: 72px;
    width: auto; 
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
}

.nav-button-text {
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0 20px; 

    &:hover {
        background-color: transparent;
    }
}

.nav-button-contained {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    width: 188px;
    border-radius: 4px;
    background-color: #646464;
    margin-left: 32px;

    &:hover {
        background-color: #646464;
    }
}

// Media query for mobile view
@media (max-width: 1170px) {
    // Add styles for mobile view
}

